<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Entities.CartModel.csdl|res://*/Entities.CartModel.ssdl|res://*/Entities.CartModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GAL;Initial Catalog=InvertedSoftwareCart;Integrated Security=True;MultipleActiveResultSets=False&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StringConnection" connectionString="Data Source=gratner\;Initial Catalog=InvertedSoftwareCart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="InvertedSoftware.ShoppingCart.DataLayer.Properties.Settings.StringConnection"
      connectionString="Data Source=GAL;Initial Catalog=InvertedSoftwareCart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="InvertedSoftware.ShoppingCart.DataLayer.Properties.Settings.InvertedSoftwareCartConnectionString"
      connectionString="Data Source=gratner\;Initial Catalog=InvertedSoftwareCart;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
