<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="InvertedSoftware.ShoppingCart.DataLayer.Properties.Settings.InvertedSoftwareCartConnectionString" connectionString="Data Source=GAL;Initial Catalog=InvertedSoftwareCart;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Entities.CartModel.csdl|res://*/Entities.CartModel.ssdl|res://*/Entities.CartModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GAL;Initial Catalog=InvertedSoftwareCart;Integrated Security=True;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>